[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
spacy = "*"
numpy = "*"
loguru = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
